In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 1000)

In [2]:
df = pd.read_csv("../data/instagram_data.csv")

In [3]:
df = pd.read_csv("../data/instagram_data.csv")

In [4]:
df.shape

(29999, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   post_id                   29999 non-null  object
 1   account_id                29999 non-null  int64
 2   account_type              29999 non-null  object
 3   follower_count            29999 non-null  int64
 4   media_type                29999 non-null  object
 5   content_category          29999 non-null  object
 6   traffic_source            29999 non-null  object
 7   has_call_to_action        29999 non-null  int64
 8   post_datetime             29999 non-null  object
 9   post_date                 29999 non-null  object
 10  post_hour                 29999 non-null  int64
 11  day_of_week               29999 non-null  object
 12  likes                     29999 non-null  int64
 13  comments                  29999 non-null  int64
 14  shares                    29999 non-null  int64
 15  saves                     29999 non-null  int64
 16  reach                     29999 non-null  int64
 17  impressions               29999 non-null  int64
 18  engagement_rate           29999 non-null  float64
 19  followers_gained          29999 non-null  int64
 20  caption_length            29999 non-null  int64
 21  hashtags_count            29999 non-null  int64
 22  performance_bucket_label  29999 non-null  object
dtypes: float64(1), int64(13), object(9)
memory usage: 5.3+ MB

In [6]:
df.columns

Index(['post_id', 'account_id', 'account_type', 'follower_count', 'media_type', 'content_category', 'traffic_source', 'has_call_to_action', 'post_datetime', 'post_date', 'post_hour', 'day_of_week', 'likes', 'comments', 'shares', 'saves', 'reach', 'impressions', 'engagement_rate', 'followers_gained', 'caption_length', 'hashtags_count', 'performance_bucket_label'], dtype='object')

In [7]:
df.isnull().sum().sort_values(ascending=False)

post_id                     0
account_id                  0
account_type                0
follower_count              0
media_type                  0
content_category            0
traffic_source              0
has_call_to_action          0
post_datetime               0
post_date                   0
post_hour                   0
day_of_week                 0
likes                       0
comments                    0
shares                      0
saves                       0
reach                       0
impressions                 0
engagement_rate             0
followers_gained            0
caption_length              0
hashtags_count              0
performance_bucket_label    0
dtype: int64

In [8]:
df.describe(include="all")

          post_id    account_id account_type  follower_count media_type content_category traffic_source  has_call_to_action        post_datetime   post_date     post_hour day_of_week         likes      comments        shares         saves         reach    impressions  engagement_rate  followers_gained  caption_length  hashtags_count performance_bucket_label
count       29999  29999.000000        29999    29999.000000      29999            29999          29999        29999.000000                29999       29999  29999.000000       29999  29999.000000  29999.000000  29999.000000  29999.000000  29999.000000   29999.000000     29999.000000      29999.000000    29999.000000    29999.000000                    29999
unique      29999           NaN            2             NaN          3               10              6                 NaN                 8475         366           NaN           7           NaN           NaN           NaN           NaN           NaN            NaN              NaN               NaN             NaN             NaN                        4
top     IG0029999           NaN      creator             NaN      image      Photography      Home Feed                 NaN  2025-02-06 14:00:00  2025-02-26           NaN    Thursday           NaN           NaN           NaN           NaN           NaN            NaN              NaN               NaN             NaN             NaN                    viral
freq            1           NaN        20944             NaN      11927             3035           5069                 NaN                   13         110           NaN        4351           NaN           NaN           NaN           NaN           NaN            NaN              NaN               NaN             NaN             NaN                     7500
mean          NaN     10.567819          NaN    10278.305477        NaN              NaN            NaN            0.348778                  NaN         NaN     11.499417         NaN    287.653588      8.521917     14.426614     42.517284   6272.475449    8466.952498         0.042107        502.152805      120.081169        7.987933                      NaN
std           NaN      5.763952          NaN     6691.862669        NaN              NaN            NaN            0.476592                  NaN         NaN      6.900587         NaN    317.647682     10.116505     16.420899     47.808844   4985.877059    6825.900355         0.024095        290.364038       11.009108        2.828130                      NaN
min           NaN      1.000000          NaN     3083.000000        NaN              NaN            NaN            0.000000                  NaN         NaN      0.000000         NaN      0.000000      0.000000      0.000000      0.000000    268.000000     327.000000         0.000000          0.000000       70.000000        0.000000                      NaN
25%           NaN      6.000000          NaN     5824.000000        NaN              NaN            NaN            0.000000                  NaN         NaN      6.000000         NaN    104.000000      3.000000      5.000000     15.000000   3058.000000    4102.000000         0.024000        251.000000      113.000000        6.000000                      NaN
50%           NaN     11.000000          NaN     9044.000000        NaN              NaN            NaN            0.000000                  NaN         NaN     12.000000         NaN    199.000000      6.000000     10.000000     29.000000   4913.000000    6595.000000         0.040600        501.000000      120.000000        8.000000                      NaN
75%           NaN     16.000000          NaN    10739.000000        NaN              NaN            NaN            1.000000                  NaN         NaN     17.000000         NaN    363.000000     11.000000     19.000000     54.000000   7863.000000   10620.500000         0.057000        755.000000      127.000000       10.000000                      NaN
max           NaN     20.000000          NaN    31095.000000        NaN              NaN            NaN            1.000000                  NaN         NaN     23.000000         NaN  10632.000000    339.000000    516.000000   1542.000000  73339.000000  105203.000000         0.271000       1000.000000      166.000000       21.000000                      NaN